@layer reset, base, modules, component;

@import "./reset.css" layer(reset);
@import "./src/modules/header.css" layer(modules);
@import "./src/base/utilities.css" layer(base);
@import "./src/components/burger.css" layer(components);

:root {
    --accent : rgba(200, 184, 120, 1);
    --primary : #101d42;
    --secondary : #1e377a;
    --font-main : 'Nunito', sans-serif;
}

body {
    background-color: var(--primary);
}