@layer base, components, modules;
@import "./reset.css" layer(reset);
@import "./src/base/utilities.css" layer(base);
@import "./src/modules/wrapper.css" layer(modules);
@import "./src/modules/header.css" layer(modules);
@import "./src/modules/hero.css" layer(modules);
@import "./src/modules/footer.css" layer(modules);
@import "./src/components/card.css" layer(components);
@import "./src/components/burger.css" layer(components);
@import "./src/components/button.css" layer(components);
@import "./src/components/border.css" layer(components);

@layer reset, base, modules, component;

:root {
    --accent : rgb(51, 51, 51);
    --hover : rgba(223, 210, 174, 0.26);
    --primary : #2a548a;
    --primary-light : #c79f8f;
    --secondary : #e6e6e6;
    --background-light : #e6e6e6;
    --font-link : 'Exo', sans-serif;
    --font-logo : 'Julius Sans One', sans-serif;
    --font-hero : 'Libre Caslon Text', serif;
    --font-main : 'Roboto', sans-serif;
}


body {
    color: var(--accent);
    background: var(--primary);
}