@layer reset, base, modules, component;

@import "./reset.css" layer(reset);
@import "./src/modules/header.css" layer(modules);
@import "./src/base/utilities.css" layer(base);
@import "./src/components/burger.css" layer(components);

:root {
    --accent : rgb(51, 51, 51);
    --hover : rgba(223, 210, 174, 0.26);
    --primary : #9b6f75;
    --secondary : #e6e6e6;
    --font-link : 'Exo', sans-serif;
    --font-logo : 'Julius Sans One', sans-serif;
}

body {
    background-color: var(--primary);
}