header {
    position: sticky;
    top: 1rem;
    margin: 0 1rem;
    background: var(--secondary);
    border-radius: 5px;
}

.logo {
    font-family: var(--font-logo);
    font-size: 2rem;
    color: var(--accent);
    z-index: 10;
    cursor: pointer;
}


.nav-elements {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 0.5rem 1rem;
}

.nav-links {
    background: var(--secondary);
    position: absolute;
    width: 250px;
    height: 100vh;
    left: -100%;
    top: 4rem;
    transition: all 0.3s ease;
    border-radius: 5px;
}

.sidebar-close {
    cursor: pointer;
    color: var(--accent);
}

header.active .nav-links {
    left : 0
}

.nav-links svg {
    position: absolute;
    right: 5px;
    top: 5px;
}

.nav-links a {
    color: var(--accent);
    font-family: var(--font-link);
    font-size: 1rem;
    display: flex;
    margin-top: 2rem;
    padding: 0.5rem;
}

.links {
    padding: 1rem;
    justify-items: flex-start;
}

.links a:hover {
        border-radius: 5px;
        background-color: var(--hover);
        transition: all 0.3s ease;
    }

@media (min-width : 550px) {
    .nav-links a {
    color: var(--accent);
    font-family: var(--font-link);
    font-size: 1rem;
    display: flex;
    width: max-content;
    margin: 0 0.5rem;
    padding: 0.5rem;
}
    /* 1. On cache le bouton burger */
    .burger {
        display: none;
    }

    /* 2. On force le container global à aligner le Logo et le Menu face à face */
    .container {
        display: flex;
        justify-content: space-between;
        align-items: center;
        padding-left: 1rem;
    }

    /* 3. On fait réapparaître le menu au bon endroit */
    .nav-links {
        display: flex;       /* Aligne les liens horizontalement */
        position: static;    /* ANNULLÉ : Le menu n'est plus à left: -100%, il revient dans l'écran */
        width: auto;         /* Annule les 250px du mobile */
        height: auto;        /* Annule les 100vh du mobile */
        background: none;    /* Supprime le fond de la sidebar mobile */
    }

    .links {
        display: flex;
        padding: 2px;
    }

    /* 4. On cache la croix (X) de fermeture qui ne sert que sur mobile */
    .sidebar-close {
        display: none;
    }
}