.hero {
    display: flex;
    flex-direction: column;
    align-items: center;
    margin-top: 10rem;
    margin-bottom: 30rem;
    color: var(--secondary);
    font-family: var(--font-hero);
    gap: 1rem;
}

.hero-title {
    font-size: 3rem;
    font-weight: 700;
    font-style: italic;
    letter-spacing: 1px;
}

.hero-description {
    font-size: 1.5rem;
    font-weight: 700;
    letter-spacing: 1px;
}

.hero-body {
    letter-spacing: 1px;
}

@media (min-width : 700px) {
    .hero {
        margin-bottom: 25rem;
    }

    .hero-title {
        font-size: 6.8rem;
    }

    .hero-description {
    font-size: 3rem;
    }
}