.card {
    background: var(--secondary);
    font-family: var(--font-main);
    border-radius: 5px;
    margin-bottom: 1rem;
    box-shadow: 0px 1px 4px 0px;
    justify-content: center;

    & img {
        border-radius: 5px 5px 0 0;
    }
}

.card p {
    text-align: justify;
    text-wrap: balance;
    padding: 1rem;
    line-height: 1.5;
}

