[class*="reveal-"] {
    opacity: 0;
}

.reveal-visible {
    opacity: 1;
    transition-duration: 1s;
}

.reveal-1 {
    transition-delay: 0.1s;
}

.reveal-2 {
    transition-delay: 0.2s;
}

.reveal-3 {
    transition-delay: 0.3s;
}

.reveal-4 {
    transition-delay: 0.4s;
}

@media (prefers-reduced-motion: reduce) {
  .animation {
    opacity: 0;
    transform: translateY(30px);
  }
}

.capitalize {
    text-transform: capitalize;
}

.pointer {
    cursor: pointer;
}

.uppercase {
    text-transform: uppercase;
}

.grid {
    display: grid;
    grid-template-columns: 1fr 1fr;
    gap: 1rem;
}

.codioful {
background: linear-gradient(300.96deg, #005275 0.36%, #F0FFB3 100%), linear-gradient(360deg, #4D0059 0%, #C0FFAA 100%), radial-gradient(100% 138.56% at 100% 0%, #D50D00 0%, #006B5E 100%), radial-gradient(100% 148.07% at 0% 0%, #D50000 0%, #00FFFF 100%);
background-blend-mode: soft-light, overlay, difference, normal;
}

.codioful-footer {
background: linear-gradient(127.43deg, #00F0FF 0%, #A80028 100%), radial-gradient(107% 142.8% at 15.71% 104.5%, #F3D0FC 0%, #1700A4 100%), radial-gradient(111% 111% at 74.29% -11%, #A90000 0%, #00FFE0 100%), linear-gradient(127.43deg, #B7D500 0%, #2200AA 100%);
background-blend-mode: overlay, difference, difference, normal;
}